<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <form>
      <label for="date-input">Enter Date</label>
      <input type="text" name="date" id="date-input">
      <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
    <script src="script.js"></script>
  </body>
</html>
