/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

form {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.container {
	padding: 0;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

hr {
	margin: 25px;
}
